#show-contact {
  display: none;
}

#contactstype {
  text-transform: capitalize;
}

.addresses,.emails{
  margin-bottom: 0;
  margin-top: 10px;
}

.new{
  display: block;
  margin-top: 0;
}

.btn-primary{
  margin-top: 15px;
}

body{
  background-color: aliceblue;
}